.title {
  text-align: center;
  margin: 2rem 0;
  padding: 0 1rem;
}

.title p {
  color: #666;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.title h2 {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .title p {
    font-size: 1rem;
  }

  .title h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .title h2 {
    font-size: 2.5rem;
  }
}