.title {
  text-align: center;
  margin: 2rem 0;
}

.title p {
  color: #666;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.title h2 {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}