:root {
	--breakpoint-mobile: 768px;
}


.nav_btn_open_close {
	display: none;
}

@media (max-width: calc(var(--breakpoint-mobile) - 1px)) {
	.nav_btn_open_close {
		display: block;
	}
}

/* Badge styling */
.total_item {
	display: inline-block;
	padding-left: 6px;
}
