@import "tailwindcss";

*{
  
  font-family:Rubik;
}

body {
  @layer no-scrollbar;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }}