
.poits {
    margin: 40px auto;
    padding: 0 20px;
    position: relative;
}

@media (min-width: 768px) {
    .poits {
        margin: 80px auto;
        padding: 0 80px;
    }
}

.next-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: #212EA0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-btn {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: #212EA0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .next-btn {
        right: 20px;
        padding: 15px;
        width: 50px;
        height: 50px;
    }

    .back-btn {
        left: 20px;
        padding: 15px;
        width: 50px;
        height: 50px;
    }
}

.next-btn img, .back-btn img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1); /* Makes the icon white */
}

.slider {
    overflow: hidden;
}
.slider ul {
    display: flex;
    width: 400%;
    transition: 0.7s;
}

.slider li {
    list-style: none;
    width: 25%;
    padding: 20px;
}

.slide {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
}

.slide img {
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212EA0;


}

.user-info{
    display: flex;
    align-items: center;
    margin-bottom:20px ;
    font-size: 15px;
}

.user-info h3 {
    color:  #212EA0;
}
 